body{
    background-color: hsl(0, 11%, 9%);
}

.title{
    font-size: 3rem;
    font-weight: 800;
    color: hsl(60, 100%, 30%);
}

.border{
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    color:white
  }
  