/* you have to set display: grid to use grid

then you can define how many and the length of the grid columns and rows 
By using grid template coulum and grid template row : 100px 100px

Then you can assign how much space each item takes in the grid by using the properties
grid column : starting cord / ending cord
grid row : starting cord / ending cord

you can also use span keyword to tell it how many cells does it need to span

also can use grid area which takes values : row-start col-start row-end col-end

Use grid-auto-rows or colums to size the implicit grid.

grid-auto-flow to tell whether the implicit element shoud add a column or a row

you can also use the repeat or minmax function when defining the sizes.

you can use autofit in the template3 to make grids resposive
*/

.container{
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-auto-rows: 100px; /* This is for the implicit grid */
  grid-auto-flow: column;/* This tells if the added element creates a row or col*/
}

.item-1{
  grid-row: 1/3;
  grid-column: 1/5;
}

.item-2{
  grid-row: span 5;
  grid-column: span 1;
  z-index: 1;
}

.item-3{
  grid-area: 1/1/5/5;
}

.container div{
  border: 5px solid red;
}

/*You can use the unit fr here */
/* grid-gap to set gaps*/
/* repeat({times},{value}) for the templates you can also put auto-fit in times so that it becomes responsive

/* Grid template areas: and name the areas in single quotes put all the rows on the same line and columns on separate*/
/* then you can assign the items to the grid areas using the names */

/* justify items and align-items default is stretch*/


